<body>
    <p>This website shows a CSV file on the server.</p>
    <form method='GET' action=''/>
        file path on server: <input name='file' type='text' value='%s'/><br/>
        page size: <input name='psize' type='number' value='%d'/><br/>
    <input type='submit' value='Submit' />
    </form>
</body>